<div class="panel panel-default">
    <div class="panel-heading">Activity log</div>
    <table class="table">
        <thead>
        <tr>
            <th>Timestamp</th>
            <th>Action</th>
            <th>Detail</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="entry in mv.entries">
            <td><a ng-click="mv.revert(entry)" href="#">{{entry.printTimestamp}} </a> </td>
            <td>{{entry.action}}</td>
            <td>{{entry.details}}</td>
        </tr>
        </tbody>
    </table>
</div>